.u-width-100 {
    width: 100vw !important;
  }
  
  .u-height-100 {
    height: 100vh !important;
  }
  
  .u-max-width-100 {
    max-width: 100% !important;
  }
  
  .u-max-width-60 {
    max-width: 60% !important;
  }
  
  .u-display-flex {
    display: flex !important;
  }
  
  .u-margin-auto {
    margin: 0 auto !important;
  }
  
  .u-display-block {
    display: block !important;
  }
  
  .u-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .u-space-between {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  
  .u-align-center {
    display: flex !important;
    align-items: center !important;
  }
  
  .u-flex-start {
    display: flex !important;
    align-items: flex-start !important;
  }
  
  .u-overflow-hidden {
    overflow: hidden !important;
  }
  
  .u-margin-top-2 {
    margin-top: 2rem !important;
  }
  
  .u-margin-top-50 {
    margin-top: 5rem !important;
  }
  
  .u-margin-top-25 {
    margin-top: 2.5rem !important;
  }
  
  .u-margin-top-4 {
    margin-top: 4rem !important;
  }
  
  .u-margin-left-10 {
    margin-left: 1rem !important;
  }
  
  .u-margin-top-5 {
    margin-top: 0.5rem !important;
  }
  
  .u-margin-top-70 {
    margin-top: 7rem !important;
  }
  
  .u-margin-bottom-30 {
    margin-bottom: 3rem !important;
  }
  
  .u-margin-bottom-40 {
    margin-bottom: 4rem !important;
  }
  
  .u-margin-left-5 {
    margin-left: 0.5rem !important;
  }
  
  .u-margin-left-15 {
    margin-left: 1.5rem !important;
  }
  
  .u-margin-top-30 {
    margin-top: 3rem !important;
  }
  
  .u-text-center {
    text-align: center !important;
  }
  
  .u-text-right {
    text-align: right !important;
  }
  
  .u-width-100 {
    width: 100% !important;
  }
  
  .u-margin-bottom-10 {
    margin-bottom: 1rem !important;
  }
  
  .u-margin-top-55 {
    margin-top: 5.5rem !important;
  }
  
  .u-margin-right-10 {
    margin-right: 1rem !important;
  }
  
  .u-margin-top-45 {
    margin-top: 4.5rem !important;
  }
  
  .u-margin-top-20 {
    margin-top: 2rem !important;
  }
  
  .u-cursor-pointer {
    cursor: pointer !important;
  }
  
  .u-margin-bottom-0 {
    margin-bottom: 0 !important;
  }
  
  .u-text-justify {
    text-align: justify !important;
  }
  
  .u-position-relative {
    position: relative !important;
  }
  
  .u-margin-bottom-15 {
    margin-bottom: 1.5rem !important;
  }
  
  .u-margin-bottom-50 {
    margin-bottom: 5rem !important;
  }
  
  .u-margin-vertical-15 {
    margin: 1.5rem 0 !important;
  }
  
  .u-opacity-80 {
    opacity: 0.8 !important;
  }
  
  .u-margin-right-5 {
    margin-right: 0.5rem !important;
  }
  
  .u-margin-left-5 {
    margin-left: 0.5rem !important;
  }
  
  .u-margin-top-none {
    margin-top: 0rem !important;
  }
  
  .u-margin-top-40 {
    margin-top: 4rem !important;
  }
  
  .u-margin-top-65 {
    margin-top: 6.5rem !important;
  }
  
  .u-margin-top-10 {
    margin-top: 1rem !important;
  }
  
  .u-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
  }