// Font sizes
$default-font-size: 1.6rem;

// Grid
// Grid
$grid-width: 117rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 3rem;

// Colors
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #727272;
$color-grey-light-1: #ebebeb;
$color-grey-light-2: #ccc;
$color-grey-light-3: #efefef;
$color-grey-light-4: #e5e5e5;
$color-lilac: #f6f5fc;
$color-primary: #1785a9;
$color-secondary: #dba127;
$color-tertiary: #126353;