.form {
  &__tooltip {
    position: relative;
  }

  &__tooltipText {
    opacity: 0;
    background: $color-black;
    border-radius: 0.3rem;
    color: $color-white;
    padding: 0.3rem;
    min-width: 13rem;
    &--top {
      position: absolute;
      top: -3rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__tooltipContent:hover > &__tooltipText {
    opacity: 0.75;
  }

  &__inputError {
    border: 1px solid rgb(183, 3, 3) !important;
    color: rgb(183, 3, 3) !important;
    &::placeholder {
      color: rgb(183, 3, 3) !important;
    }
  }

  &__input-1 {
    height: 5.5rem;
    width: 100%;
    border-radius: 1rem;
    background: $color-white;
    outline: none;
    border: 1px solid $color-grey-light-1;
    padding: 2rem 2.5rem;
    font-family: "inter-italic";
    font-size: 1.8rem;
    &::placeholder {
      font-family: "inter-italic";
      font-size: 1.8rem;
      color: #c8c5c5;
    }
  }

  &__input-2 {
    height: 5rem;
    width: 100%;
    background: $color-white;
    outline: none;
    border: 1px solid #8e8e8e;
    padding: 2rem 1.5rem;
    font-family: "inter-italic";
    font-size: 1.8rem;
    &::placeholder {
      font-family: "almarai-regular";
      font-size: 1.8rem;
      color: #8c8c8c;
    }
  }

  &__input-3 {
    width: 6.6rem;
    height: 6.9rem;
    border-radius: 1rem;
    background: $color-grey-light-1;
    border: 1px solid $color-grey-light-1;
    outline: none;
    text-align: center;
    font-size: 4rem;
    font-family: "poppins-regular";
  }

  &__input-5 {
    width: 31.1rem;
    height: 4rem;
    border-radius: 1rem;
    background: #f6f5fc;
    border: 1px solid $color-grey-light-1;
    outline: none;
    text-align: left;
    font-size: 1.8rem;
    font-family: "poppins-regular";
    padding: 0.5rem 3.5rem 0.5rem 1rem;
    &::placeholder {
      font-size: 1.8rem;
    }
  }

  &__input-number {
    position: relative;
    overflow: hidden;
  }

  &__input-number-1 {
    height: 4.4rem;
    width: 100%;
    border-radius: 1rem;
    background: $color-grey-light-1;
    outline: none;
    border: none;
    padding: 0.9rem 1.8rem;
    font-family: "poppins-regular";
    font-size: 1.8rem;
    &::placeholder {
      font-family: "poppins-light";
      font-size: 1.8rem;
      color: #c8c5c5;
    }

    &--action {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      height: 4.4rem;
      width: 8.8rem;
      overflow: hidden;
      border-top-right-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
      border: 1px solid #707070;
      border-left: none;
    }

    &--action1 {
      height: 4.4rem;
      width: 4.4rem;
      background: $color-grey-light-4;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: darken($color-grey-light-4, 4%);
      }
    }

    &--action2 {
      height: 4.4rem;
      width: 4.4rem;
      background: $color-tertiary;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background: darken($color-tertiary, 4%);
      }
    }
  }

  &__inputfile {
    display: none;
  }

  &__calendarGroup {
    &--text {
      margin: 1rem 0;
    }
  }

  &__textarea {
    resize: none;
    border-radius: 1rem;
    background: $color-grey-light-1;
    border: 1px solid $color-grey-light-1;
    outline: none;
    min-height: 13.5rem;
    width: 100%;
    padding: 1.5rem 1.7rem;
    font-size: 1.8rem;
    font-family: "poppins-regular";

    &--1 {
      background: $color-white;
      border: 1px solid #707070;
      min-height: 19rem;
    }

    &--2 {
      background: $color-white;
      border: none;
    }

    &--textgroup {
      display: inline-block;
      height: 4.5rem;
      padding: 0.9rem 1.3rem;
      background: #e6e6e6;
      border-radius: 0.8rem;
      margin: 0.6rem 1.3rem;
    }
    &--groupings {
      border: 1px solid #707070;
      min-height: 9rem;
      border-radius: 1rem;
    }
  }

  &__radioGroup {
    min-height: 4.4rem;
    > * {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  &__radioRows {
    display: flex;
    > * {
      &:not(:first-child) {
        margin-left: 3rem;
      }
    }
  }

  &__radio {
    display: inline-block;
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &--input {
      display: none;
    }

    &--label {
      display: flex;
      align-items: center;
      cursor: pointer;
      > * {
        &:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }

    &--button {
      height: 3rem;
      width: 3rem;
      border-radius: 1rem;
      border: 2px solid $color-grey-light-1;
      background: $color-grey-light-1;
      position: relative;

      &::after {
        content: "\2713";
        color: $color-white;
        font-weight: bold;
        @include absCenter;
        height: 3rem;
        width: 3rem;
        border-radius: 0.8rem;
        background: $color-tertiary;
        padding: 0.3rem 0.8rem;
        opacity: 0;
        transition: 0.2s;
      }
    }

    &--input:checked + &--label &--button::after {
      opacity: 1;
    }
  }

  &__dropdown-1 {
    position: relative;
    width: 100%;
    height: 4.4rem;
    &--value {
      background: $color-grey-light-1;
      cursor: pointer;
      width: 100%;
      height: 100%;
      border: 1px solid $color-grey-light-1;
      border-radius: 1rem;
      padding: 1rem 0 1rem 0.8rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--icon {
      fill: #888888;
      height: 2.4rem;
      margin-top: 0.5rem;
    }

    &--icon-invert {
      transform: rotate(180deg);
      margin-bottom: 0.5rem;
    }

    &--input {
      width: 95%;
      margin: 0 1rem;
      height: 2.5rem;
      outline: none;
      border: 1px solid #c9ccd7;
      padding: 0.5rem;
    }

    &--list {
      position: absolute;
      top: 4.4rem;
      width: 100%;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      background: $color-grey-light-1;
      border: 1px solid #c9ccd7;
      z-index: 100;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 30rem;
      ul {
        background: $color-grey-light-1;
        li {
          list-style: none;
          padding: 0.6rem;
          cursor: pointer;
          &:hover {
            background: $color-tertiary;
            opacity: 0.7;
            color: $color-white;
            > div {
              color: $color-white;
            }
          }
        }
      }
    }
  }

  &__divider {
    position: relative;
    height: 2rem;
    > div {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1rem;
      border-top: 1px solid rgba($color-black, 0.1);
    }
  }

  &__checkbox-1 {
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &--input {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &--label {
      display: flex;
      align-items: center;
      cursor: pointer;
      > * {
        &:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }

    &--container {
      background: $color-white;
      border-radius: 0.3rem;
      border: 1px solid $color-grey-light-1;
      cursor: pointer;
      height: 1.7rem;
      min-width: 1.7rem;
      min-height: 1.7rem;
      position: relative;
      overflow: hidden;
      &::after {
        content: "\1F5F8";
        color: $color-white;
        display: block;
        height: 1.7rem;
        width: 1.7rem;
        @include absCenter;
        top: 40%;
        font-weight: 700;
        background-color: #fea23c;
        opacity: 0;
        transition: opacity 0.2s;
        padding-bottom: 2rem;
        padding-left: 0.2rem;
      }
    }

    &--input:checked + &--label &--container::after {
      opacity: 1;
    }
  }

  &__inputGroup {
    position: relative;
    transition: all 0.3s;
  }

  &__inputTitle {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    background: white;
    padding: 0 0.5rem;

    &--showInput {
      top: 0 !important;
      left: 2rem !important;
      visibility: visible !important;
      opacity: 1 !important;
      transition: all 0.3s !important;
    }

    &--errorText {
      position: absolute;
      top: 5.5rem;
      left: 2rem;
      z-index: 100;
    }

    &--error {
      color: rgb(183, 3, 3) !important;
    }
  }
}

// .form__inputGroup > input:valid ~ .form__inputTitle {
//   top: 0;
//   left: 2rem;
//   visibility: visible;
//   opacity: 1;
//   transition: all 0.3s;
// }

@keyframes pointer-jump {
  0% {
    top: -3.3rem;
  }

  50% {
    top: -2.7rem;
  }

  100% {
    top: -3.3rem;
  }
}
