.stepper {
  @include displayCenter;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__index {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    @include displayCenter;
    &--current {
      background: #1058b2;
      color: $color-white;
    }

    &--past {
      background: #53d85a;
      color: $color-white;
    }

    &--inactive {
      background: #cfcfcf;
      color: #4c4c4c;
    }
  }

  &__line {
    width: 9rem;
    height: 0.3rem;
    background: $color-grey-light-1;
    margin-bottom: 3rem;
  }

  &__title {
    min-width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  > * {
    &:last-child {
      > * {
        &:last-child {
          display: none;
        }
      }
    }
  }
}
