.table {
  width: 100%;
  border-spacing: 0;
  > thead {
    > tr {
      > * {
        padding: 1.5rem;
        background-color: #ebebed;
        &:not(:first-child) {
          border-right-width: 1px;
          border-right-color: #fff;
          border-left-color: #fff;
        }
      }
    }
  }
  > tbody {
    > * {
      > * {
        padding: 1rem;
        text-align: center;
        height: 5rem;
        &:not(:first-child) {
          border-right-color: #f5f5f5;
          border-left-color: #f5f5f5;
        }
      }
      &:nth-child(2n) {
        > * {
          background-color: #f5f5f5;
        }
      }
    }
  }

  &__verticalBorder {
    > thead > tr > * {
      &:not(:last-child) {
        border-right: 1px solid black;
      }
    }

    > tbody > tr > * {
      &:not(:last-child) {
        border-right: 1px solid black;
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__paginationBox {
    height: 3.1rem;
    > ul {
      display: flex;
      > li {
        cursor: pointer;
        list-style: none;
      }
    }
  }

  &__danger {
    background: rgb(214, 4, 4);
    padding: 2px 6px;
    border-radius: 7px;
    color: white;
  }

  &__success {
    background: rgb(24, 168, 24);
    padding: 2px 6px;
    border-radius: 7px;
    color: white;
  }

  &__warning {
    background: rgba(175, 231, 7, 0.992);
    padding: 2px 6px;
    border-radius: 7px;
    color: white;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 45rem) {
  .table {
    > thead {
      > tr {
        > th {
          > * {
            font-size: 1rem !important;
          }
        }
      }
    }

    > tbody {
      > tr {
        > td {
          font-size: 1rem !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 35rem) {
  .table {
    > thead {
      > tr {
        > * {
          padding: 0 !important;
        }
      }
    }

    > tbody {
      > tr {
        > td {
          height: 3rem !important;
          padding: 0rem !important;
        }
      }
    }
  }
}
