.row {
    max-width: 100%;
    margin: 0 auto;
    @include clearfix;
    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }
  
    [class^="col-"] {
      float: left;
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }
  
    .col-1-of-1 {
      width: 100%;
    }
  
    .col-1-of-2 {
      width: calc((100% - #{$gutter-horizontal}) / 2);
    }
  
    .col-1-of-3 {
      width: calc((100% - 2 *#{$gutter-horizontal}) / 3);
    }
  
    .col-1-of-4 {
      width: calc((100% - 3 *#{$gutter-horizontal}) / 4);
    }
  
    .col-1-of-5 {
      width: calc((100% - 4 *#{$gutter-horizontal}) / 5);
    }
  
    .col-1-of-6 {
      width: calc((100% - 5 *#{$gutter-horizontal}) / 6);
    }
  
    .col-2-of-5 {
      width: calc(
        2 * (100% - 4 *#{$gutter-horizontal}) / 5 + #{$gutter-horizontal}
      );
    }
  
    .col-3-of-5 {
      width: calc(
        3 * (100% - 4 *#{$gutter-horizontal}) / 5 + 2 *#{$gutter-horizontal}
      );
    }
  
    .col-1-of-6 {
      width: calc((100% - 5 *#{$gutter-horizontal}) / 6);
    }
  
    .col-4-of-5 {
      width: calc(
        4 * (100% - 4 *#{$gutter-horizontal}) / 5 + 3 * #{$gutter-horizontal}
      );
    }
  
    .col-2-of-5 {
      width: calc(2 * (100% - 4 *#{$gutter-horizontal}) / 5);
    }
  
    .col-3-of-5 {
      width: calc(3 * (100% - 4 *#{$gutter-horizontal}) / 5);
    }
  
    .col-2-of-3 {
      width: calc(
        (2 * (100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
      );
    }
  
    .col-2-of-4 {
      width: calc(
        2 * ((100% - 3 *#{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
      );
    }
  
    .col-3-of-4 {
      width: calc(
        3 * ((100% - 3 *#{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
      );
    }
  
    .col-3-of-7 {
      width: calc(
        3 * ((100% - 6 *#{$gutter-horizontal}) / 7) + 2 * #{$gutter-horizontal}
      );
    }
  
    .col-1-of-7 {
      width: calc(((100% - 6 *#{$gutter-horizontal}) / 7));
    }
  
    .col-2-of-10 {
      width: calc(
        2 * ((100% - 9 *#{$gutter-horizontal}) / 10) + #{$gutter-horizontal}
      );
    }
  
    .col-25-of-10 {
      width: calc(
        2.5 * ((100% - 9 *#{$gutter-horizontal}) / 10) + 1.5 * #{$gutter-horizontal}
      );
    }
  
    .col-4-of-10 {
      width: calc(
        4 * ((100% - 9 *#{$gutter-horizontal}) / 10) + 3 * #{$gutter-horizontal}
      );
    }
  
    .col-5-of-10 {
      width: calc(
        5 * ((100% - 9 *#{$gutter-horizontal}) / 10) + 4 * #{$gutter-horizontal}
      );
    }
  
    .col-3-of-10 {
      width: calc(
        3 * ((100% - 9 *#{$gutter-horizontal}) / 10) + 2 * #{$gutter-horizontal}
      );
    }
  
    .col-7-of-10 {
      width: calc(
        7 * ((100% - 9 *#{$gutter-horizontal}) / 10) + 6 * #{$gutter-horizontal}
      );
    }
  
    .col-35-of-10 {
      width: calc(
        3.5 * ((100% - 9 *#{$gutter-horizontal}) / 10) + 2.5 * #{$gutter-horizontal}
      );
    }
  }
  
  .a-row {
    max-width: $grid-width;
    margin: 0 auto;
    @include clearfix;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  
    [class^="col-"] {
      float: left;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  
    .col-a-1-of-2 {
      width: calc(100% / 2);
    }
  
    .col-a-1-of-3 {
      width: calc(100% / 3);
    }
  
    .col-a-1-of-4 {
      width: calc(100% / 4);
    }
  
    .col-a-3-of-4 {
      width: calc(3 * 100% / 4);
    }
  
    .col-a-1-of-7 {
      width: calc(100% / 7);
    }
  
    .col-a-3-of-5 {
      width: calc(3 * 100% / 5);
    }
  
    .col-a-2-of-5 {
      width: calc(2 * 100% / 5);
    }
  
    .col-a-4-of-5 {
      width: calc(4 * 100% / 5);
    }
  
    .col-a-1-of-5 {
      width: calc(1 * 100% / 5);
    }
  
    .col-a-35-of-50 {
      width: calc(3.5 * 100% / 5);
    }
  
    .col-a-15-of-50 {
      width: calc(1.5 * 100% / 5);
    }
  
    .col-a-1-of-6 {
      width: calc(100% / 6);
    }
  
    .col-a-3-of-6 {
      width: calc(3 * 100% / 6);
    }
  
    .col-a-1-of-10 {
      width: calc(1 * 100% / 10);
    }
  
    .col-a-2-of-10 {
      width: calc(2 * 100% / 10);
    }
  
    .col-a-3-of-10 {
      width: calc(3 * 100% / 10);
    }
  
    .col-a-4-of-10 {
      width: calc(4 * 100% / 10);
    }
  
    .col-a-5-of-10 {
      width: calc(5 * 100% / 10);
    }
  }